/node_modules
/public/hot
/public/storage
/public/css
/public/js
/storage/*.key
/vendor
.idea
.env
.env.backup
.phpunit.result.cache
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

_pre_scripts.php
public/mix-manifest.json
